/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-dic-2021, 14:30:44
    Author     : ngall
*/

@import './index.css';
#modificar {
  background-color: #f5f3f4;
}
ul{
  list-style: none;
}

#navbar-link>li:hover>ul {
  display:block;
}
#navbar-link>li>ul{
  display: none;
}
#navbar-link>li{
  float: left;
}
.signup_v4 .nav-tabs .nav-link.active {
    width: 200%;
}
.entrenador {
  background-color: #e5383b;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}

.entrenador div {
  background-color: #f5f3f4;
}

.entrenador .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.entrenador h2 {
  font-weight: 600;
}

.entrenador .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.personal:hover {
  box-shadow: 0 5px 20px black;
}