/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-dic-2021, 18:30:36
    Author     : ngall
*/

@import './crear-rutina.css';
.espacio{
    padding: 10px;
    width: 325px;
    padding-left: 30px;
    text-align: center;
    
}

.signup_v4 .nav-tabs .nav-link.active {
    width: 200%;
}

.btn-s{
    height: 35px;
   
}
